atomicwrites==1.2.1
attrs==18.2.0
coverage==4.5.2
EasyProcess==0.2.3
flake8==3.6.0
mccabe==0.6.1
more-itertools==4.3.0
pluggy==0.8.0
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
py==1.7.0
pycairo==1.18.0
pycodestyle==2.4.0
pyflakes==2.0.0
PyGObject==3.30.3
pytest==4.0.1
pytest-xvfb==1.1.0
PyVirtualDisplay==0.2.1
six==1.11.0
